.mat-grid-tile {
	border: 1px solid #fff;
}

.mat-card-content {
	background: pink;
}

.mat-card-footer {
	background: red;
}

.example-card {
  max-width: 400px;
}

.mat-grid-list .mat-primary:hover {
	background: #e1e1e1;
	color: #222;
}
