<mat-sidenav-container fullscreen>
    <mat-toolbar color="primary">
        <h2>Angular6 + RxJS</h2>
    </mat-toolbar>
        <ul>
            <li> Built with Material Design</li>
            <li> Two Components (Brands, Cars)</li>
            <li> One service (get brands and cars data from Web API)</li>
            <li> RxJS (map, filter) subscribes on app load (brand) and router change</li>
            <li> Observer utility copied from Angular.io University</li>

        </ul>
    <router-outlet></router-outlet>

</mat-sidenav-container>